<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapp.mapper.MemberMapper">
  
<!-- selectByEmail -->
<select id="selectByEmail" parameterType="string" resultType="com.webapp.model.Member">
	select *
	  from test_member
	 where email = #{email}
</select>

<!-- insertMember -->
<insert id="insertMember" parameterType="com.webapp.model.Member">
	insert into test_member
	(
		num,
		email,
		password,
		name,
		phone,
	<if test="gender != null"> <!-- null값을 허용하는 경우 이렇게 해줘야됨 -->
		gender,
	</if>
		birth,
	<if test="choice != null">
		choice,
	</if>
		enter
	)
	values
	(
		20,
		#{email},
		#{password},
		#{name},
		#{phone},
	<if test="gender != null">
		#{gender},
	</if>
		#{birth},
	<if test="choice != null">
		#{choice},
	</if>
		sysdate
	)
</insert>

<update id="updateMember" parameterType="com.webapp.model.Member">
    update test_member
	<set> 
		<if test="email != null">
			email 		= #{email},
		</if>
		<if test="password != null">
			password 	= #{password},
		</if>
		<if test="name != null">
			name 		= #{name},
		</if>
		<if test="regdate != null">
			regdate 	= #{regdate},
		</if>
	</set>
	where id		= #{id}
	  and email		= #{email}
</update>
  
</mapper>
